<!-- Input de mail del alumno -->
<form class="formstyle formulario text-center container" action="/editar/{{ result._id }}?_method=PUT " method="POST">

    <label for="formGroupExampleInput" name="nombre" class="form-label">Nombre del alumno</label>
    <input type="text" class="form-control" name="nombre" id="formGroupExampleInput" placeholder="Nombre"  value= "{{ result.nombre }}">

    <label for="formGroupExampleInput2" name="email" class="form-label">Email del almuno</label>
    <input type="email" class="form-control"  name="email" id="formGroupExampleInput2" placeholder="Email@ejemplo.com" value= "{{ result.email }}">


    <!-- Input de mensaje -->
    <label for="exampleFormControlTextarea1" name="mensaje" class="form-label">Escribe tu opinion</label>
    <textarea class="form-control mb-5" name="mensaje" id="exampleFormControlTextarea1" rows="3" >{{ result.mensaje }}</textarea>

    <div class="mb-3 text-center">
        <button type="submit" class="button btn btn-success w-50 p-2" id="enviar">Enviar Datos</button>
    </div>

</form>